<div class="container">
    <div class="headings">
        <h1>Our Blog</h1>
       
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <div class="col-md-4" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_18.jpg" alt="" width="100%">
                            <!-- <div class="imgBtn">SOLUTION</div> -->
                        </div>
                        <div class="featured">
                            <!-- <p class="head">Featured - </p> -->
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                             Read More
                        </div>
                    </div>
                </div>

                <div class="col-md-4"  routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_19.jpg" alt="" width="100%">
                            <!-- <div class="imgBtn">DESIGN</div> -->
                        </div>
                        <div class="featured">
                            <!-- <p class="head">Featured - </p> -->
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Read More
                       </div>
                    </div>
                </div>

                <div class="col-md-4"  routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_20.jpg" alt="" width="100%">
                            <!-- <div class="imgBtn">BUSINESS</div> -->
                        </div>
                        <div class="featured">
                            <!-- <p class="head">Featured - </p> -->
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Read More
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
