.container {
    font-family: Calibri;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

.headings {
    text-align: center;
    margin-bottom: 2em;
}

.headings h1{
    font-size: 60px;
}

.headings p{
    font-size: 20px;
}

// ---------------  Card CSS ---------------
.blog {
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 0.3em;
}

.blog .img {
    position: relative;
    overflow: hidden;
}

.blog img {
    position: relative;
    width: 100%;     
    height: auto;    
    transition: transform 0.6s ease;
}

.blog:hover img {
    transform: scale(1.1);
}

.blog .imgBtn {
    position: absolute;
    bottom: 2em;
    left: 2em;
    background-color: var(--btn-orange);
    padding: 0.1em 1.1em;
    border-radius: 1em;
    transition: all 0.2s ease;
}

.blog .imgBtn:hover {
    background-color: var(--btn-hover-orange);
    text-decoration: underline;
    cursor: pointer;
}

.featured {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.featured .head{
    font-size: 19px;
    font-weight: 600;
}

.featured .date{
    font-size: 19px;
    color: var(--bs-gray-600);
    transition: all 0.2s ease;
}

.featured .date:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.desc {
    font-size: 25px;
    font-weight: 600;
}

.conti {
    width: 140px;
    height: 47px;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    color: var(--text-color);
    border: 1px solid var(--btn-orange);
    transition: all 0.2s ease
}
.conti:hover {
    background-color: var(--btn-hover-orange);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

 .blog .desc:hover {
    color: var(--btn-hover-orange);
    cursor: pointer;
    transition: all 0.2s ease;
}

.conti i{
    font-size: 15px;
}

.pages {
    font-size: 20px;
    font-weight: 600;
    color: var(--btn-orange);
    display: flex;
    gap: 0.2em;
    margin: 1.5em 0 2em 0;
}

.pages span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pages .active{
   background-color: var(--btn-hover-orange);
   color: white;
}

.pages .nothing {
    cursor: auto;
    color: black;
}



