<div class="container">
    <div class="header">
      <h1 class="title-heading">Most demanding job categories.</h1>
      <a href="#" class="all-categories">
        All Categories
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="categories-grid">
        <div class="category-card">
            <a href="">
                <div class="icon tran3s">
                    <img src="assets/images/icon1.svg" alt="" class="lazy-img">
                </div>
                <div class="title tran3s">
                    Design &
                    <br>
                    Develoment
                </div>
                <div class="total-job">2340 vacancy</div>
            </a>
     
      </div>     
      <div class="category-card">
        <a href="">
            <div class="icon tran3s">
            <img src="assets/images/icon2.svg" alt="" class="lazy-img">
        </div>
        <div class="title tran3s">
            Customer Help 
            <br>
            & Sales.
        </div>
        <div class="total-job">1560 vacancy</div>
        </a>
      </div>     
      <div class="category-card">
        <div class="icon tran3s">
            <img src="assets/images/icon3.svg" alt="" class="lazy-img">
        </div>
        <div class="title tran3s">
            Business 
            <br>
            Marketing.
        </div>
        <div class="total-job">2210 vacancy</div>
      </div>     
      <div class="category-card">
        <a href="">
            <div class="icon tran3s">
                <img src="assets/images/icon4.svg" alt="" class="lazy-img">
            </div>
            <div class="title tran3s">
                Business 
                <br>
                Develoment.
            </div>
            <div class="total-job">980 vacancy</div>
        </a>
      </div>     
      <div class="category-card">
        <a href="">
            <div class="icon tran3s">
                <img src="assets/images/icon5.svg" alt="" class="lazy-img">
            </div>
            <div class="title tran3s">
                Programing & 
                <br>
                code.
            </div>
            <div class="total-job">1687 vacancy</div>
        </a>
      </div>     
      <div class="category-card">
        <a href="">
            <div class="icon tran3s">
                <img src="assets/images/icon6.svg" alt="" class="lazy-img">
            </div>
            <div class="title tran3s">
                Video Edition 
                <br>
                & 3D work
            </div>
            <div class="total-job">758 vacancy</div>
        </a>
      </div>     
      <div class="category-card">
        <a href="">
            <div class="icon tran3s">
                <img src="assets/images/icon7.svg" alt="" class="lazy-img">
            </div>
            <div class="title tran3s">
                Art & 
                <br>
                Animation.
            </div>
            <div class="total-job">1452 vacancy</div>
        </a>
      </div>
      <div class="category-card bg-color">
        <a href="" class="d-block">
            <div class="title text-white">13k+</div>
            <div class="title-lg text-white">Job already posted</div>
            <div class="d-flex align-items-center justify-content-end mt-50">
                <img src="assets/images/shape.svg" alt="">
                <div class="icon tran3s">
                    <img src="assets/images/icon8.svg" alt="" class="lazy-img">
                </div>
            </div>
            
        </a>
      </div>      
    </div>
  </div> 





 