<app-header></app-header>
<div class="container">
    <div class="headings">
        <h1>Blog</h1>
        <p>Read our blog from top talents</p>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_18.jpg" alt="" width="100%">
                            <div class="imgBtn">SOLUTION</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_19.jpg" alt="" width="100%">
                            <div class="imgBtn">DESIGN</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_20.jpg" alt="" width="100%">
                            <div class="imgBtn">BUSINESS</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_21.jpg" alt="" width="100%">
                            <div class="imgBtn">BRANDING</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_22.jpg" alt="" width="100%">
                            <div class="imgBtn">MARKETING</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" routerLink="/main/common/blogDetails">
                    <div class="blog">
                        <div class="img">
                            <img src="./assets/images/blog_img_23.jpg" alt="" width="100%">
                            <div class="imgBtn">DESIGN</div>
                        </div>
                        <div class="featured">
                            <p class="head">Featured - </p>
                            <p class="date"> 18 Jul 2022</p>
                        </div>
                        <div class="desc">
                            Print, publishing qui visual quis layout mockups.
                        </div>
                        <div class="conti">
                            Continue Reading <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="pages">
                        <span class="active">1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span class="nothing">....</span>
                        <span>Last</span>
                        <span><i class="fa-solid fa-arrow-right"></i></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="right">
                <div class="searchBox">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="category">
                    <h2>Category</h2>
                    <p>Education <span>(3)</span></p>
                    <p>Information <span>(4)</span></p>
                    <p>Interview <span>(2)</span></p>
                    <p>Speaking <span>(8)</span></p>
                    <p>Skill <span>(5)</span></p>
                    <p>Developer <span>(3)</span></p>
                    <p>Account <span>(7)</span></p>
                </div>
                <div class="recent">
                    <h2>Recent News</h2>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_15.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_16.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_17.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="keyword">
                    <h2>Keywords</h2>
                    <ul class="style-none d-flex flex-wrap">
                        <li><a href="#!">Ideas</a></li>
                        <li><a href="#!">Education</a></li>
                        <li><a href="#!">Design</a></li>
                        <li><a href="#!">Development</a></li>
                        <li><a href="#!">Branding</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
