<app-header></app-header>
<div class="container">

    <div class="title-two">
        <h2 class="">Candidate Profile</h2>
    </div>

    <div class="row">

        <!-- Main Content -->
        <div class="col-md-9">
            <!-- Overview Section -->
            <div class="candidates-profile-details">
                <div class="inner-card border-style mb-5">
                    <h3 class="title">Overview</h3>
                    <p>Hello my name is Ariana Gande Connor and I’m a Financial Supervisor from Netherlands, Rotterdam.
                        In pharetra orci dignissim, blandit mi semper, ultricies diam. Suspendisse malesuada suscipit
                        nunc non volutpat. Sed porta nulla id orci laoreet tempor non consequat enim. Sed vitae aliquam
                        velit. Aliquam Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et
                        pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam.</p>
                    <br>
                    <p>
                        Mauris nec erat ut libero vulputate pulvinar. Aliquam ante erat, blandit at pretium et, accumsan
                        ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar
                        tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. Mauris nec.
                    </p>
                </div>


                <!-- Intro Section -->
                <h3 class="title">Intro</h3>
                <div class="video-post d-flex align-items-center justify-content-center mt-2 mb-5">
                    <a class="fancybox rounded-circle video-icon tran3s text-center" data-fancybox
                        href="https://www.youtube.com/embed/aXFSJTjVjw0">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="inner-card border-style mb-5">
                    <h3 class="title">Education</h3>
                    <div class="time-line-data position-relative pt-3">
                        <div class="info position-relative">
                            <div class="numb fw-500 rounded-circle d-flex align-items-center justify-content-center">1
                            </div>
                            <div class="text_1">University of Boston</div>
                            <h4>Bachelor Degree of Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus.
                                Interdum primis</p>
                        </div>
                        <div class="info position-relative">
                            <div class="numb fw-500 rounded-circle d-flex align-items-center justify-content-center">2
                            </div>
                            <div class="text_1">Design Collage</div>
                            <h4>UI/UX Design Course</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum
                                et malesuada fames ac ante ipsum primis in faucibus.</p>
                        </div>
                    </div>
                </div>
                <div class="inner-card border-style mb-5">
                    <h3 class="title">Skills</h3>
                    <ul class="style-none skill-tags d-flex flex-wrap pb-5">
                        <li>Figma</li>
                        <li>HTML5</li>
                        <li>Illustrator</li>
                        <li>Adobe Photoshop</li>
                        <li>WordPress</li>
                        <li>jQuery</li>
                        <li>Web Design</li>
                        <li>Adobe XD</li>
                        <li>CSS</li>
                        <li class="more">3+</li>

                    </ul>
                </div>
                <div class="inner-card border-style mb-5">
                    <h3 class="title">Work Experience</h3>
                    <div class="time-line-data position-relative pt-5">
                        <div class="info position-relative">
                            <div class="numb fw-500 rounded-circle d-flex align-items-center justify-content-center">1
                            </div>
                            <div class="text_1">02/03/18 - 13/05/20</div>
                            <h4>Product Designer (Google)</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum
                                et malesuada fames ac ante ipsum primis in faucibus.</p>
                        </div>
                        <div class="info position-relative">
                            <div class="numb fw-500 rounded-circle d-flex align-items-center justify-content-center">2
                            </div>
                            <div class="text_1">02/07/20 - 13/09/22</div>
                            <h4>UI/UX Engineer (Adobe)</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum
                                primis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile Sidebar -->
        <div class="col-md-3">
            <div class="cadidate-profile-sidebar">
                <div class="cadidate-bio bg-wrapper bg-color mb-6">
                    <div class="pt-5">
                        <div class="cadidate-avatar m-auto">
                            <img src="assets/view/img_01.jpg" alt="Profile Picture"
                                class="lazy-img rounded-circle w-100">
                        </div>
                    </div>
                    <h3 class="cadidate-name text-center">Rashed Kabir</h3>
                    <div class="text-center pb-5">
                        <a href="#" class="invite-btn fw-500">Invite</a>
                    </div>
                    <ul class="style-none">
                        <li>
                            <span>Location:</span>
                            <div>Spain, Barcelona</div>
                        </li>
                        <li>
                            <span>Age:</span>
                            <div>28</div>
                        </li>
                        <li>
                            <span>Email:</span>
                            <div>me&#64;support.com</div>
                        </li>
                        <li>
                            <span>Qualification:</span>
                            <div>Master Degree</div>
                        </li>
                        <li>
                            <span>Gender:</span>
                            <div>Male</div>
                        </li>
                        <li>
                            <span>Expected Salary:</span>
                            <div>$3k-$4k/month</div>
                        </li>
                        <li>
                            <span>Social:</span>
                            <div>
                                <a href="#" class="me-3">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="me-3">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#" class="me-3">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="#" class="me-3">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btnCV mt-5">Download CV</a>
                </div>
                <h4 class="sidebar-title">Location</h4>
                <div class="map-area mb-6 md-mb-40">
                    <div class="gmap_canvas h-100 w-100">
                        <iframe class="gmap_iframe h-100 w-100"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d91105.70997281105!2d90.375325!3d23.807493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8c8e1ea9fd1%3A0xa6e274882fdbce53!2sDhaka%20College!5e1!3m2!1sen!2sus!4v1731315189205!5m2!1sen!2sus">
                        </iframe>
                    </div>
                </div>
                <h4 class="sidebar-title">Email Rashed Kabir.</h4>
                <div class="contact-form">
                    <p> Your email address & profile will be shown to the recipient.</p>
                    <form>
                        <div class="d-sm-flex mb-3">
                            <label for="name">Name</label>
                            <input type="text" id="name" required>
                        </div>
                        <div class="d-sm-flex mb-3">
                            <label for="email">Email</label>
                            <input type="email" id="email" required>
                        </div>
                        <div class="d-sm-flex mb-3">
                            <label for="message">Message</label>
                            <textarea id="message" required></textarea>
                        </div>
                        <div class="d-sm-flex mb-3">
                            <label for="message"></label>
                            <button type="submit" class="send-button">Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>