<app-header></app-header>
<div class="container">
  <div class="company_list">
    <div class="left">
      <button *ngIf="isSmallScreen" class="toggle-btn" (click)="toggleSidebar()">
        <i class="fa fa-filter" aria-hidden="true"></i>
        <span>Filter</span>
      </button>
      <div [class.filter-sidebar]="isSmallScreen" [class.filter-fullscreen]="!isSmallScreen"
        [class.open]="isSidebarOpen || !isSmallScreen">
        
        <div class="filter-section">
          <button *ngIf="isSmallScreen" class="close-btn" (click)="toggleSidebar()">
            <i class="fa fa-times"></i>
          </button>
          <div class="container">
            <div class="filter">
              <h4>Filter By</h4>
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingSearch">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseSearch" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseSearch">
                      Search Company
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseSearch" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingSearch">
                    <div class="accordion-body">
                      <div class="select-menu">
                        <div class="select-btn">
                          <input type="text" placeholder="Search Company">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo">
                      Company Status
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      <ul class="style-none filter-input">
                        <li>
                          <input type="checkbox" name="JobType" value="01">
                          <label for="">New
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="02">
                          <label for="">Top Rated </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="03">
                          <label for="">Older
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseOne">
                      Location
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">

                      <div class="select-menu" [class.active]="isActiveOne">
                        <div class="select-btn" (click)="toggleMenuOne()">
                          <span class="sBtn-text">{{ selectedOptionOne }}</span>
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <ul class="options">
                          <li class="option" *ngFor="let optionOne of optionsOne" (click)="selectOptionOne(optionOne)"
                            [class.selected]="optionOne === selectedOptionOne">
                            <span class="option-text">{{ optionOne }}</span>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseFive">
                      Category
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                      <ul class="style-none filter-input">
                        <li>
                          <input type="checkbox" name="JobType" value="01">
                          <label for="">Web design
                            <div>15</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="02">
                          <label for="">Design & Creative
                            <div>8</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="03">
                          <label for="">It & Development
                            <div>7</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="04">
                          <label for="">Web & Mobile Dev
                            <div>5</div>
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="05">
                          <label for="">Writing
                            <div>4</div>
                          </label>
                        </li>
                      </ul>
                      <div class="btn">+ Show More</div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree">
                      Team Size
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                      <ul class="style-none filter-input">
                        <li>
                          <input type="checkbox" name="JobType" value="01">
                          <label for="">12+ Team Size
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="02">
                          <label for="">7+ Team Size
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="03">
                          <label for="">10+ Team Size
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="04">
                          <label for="">15+ Team Size
                          </label>
                        </li>
                        <li>
                          <input type="checkbox" name="JobType" value="05">
                          <label for="">5+ Team Size
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>



                <div class="fBtn btn">
                  Apply Filter
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="cards">
        <div class="header">
          <div class="company-count">
            All {{ companies.length }} company found
          </div>
          <div class="sort-container">
            <label for="sort-select">Sort by:</label>
            <div class="custom-dropdown" (click)="toggleDropdown()">
              <span>{{ selectedSortOption.label || 'Sort by' }}</span>
              <i [class.rotate]="isDropdownOpen" class="fas fa-angle-down"></i>
              <ul *ngIf="isDropdownOpen">
                <li *ngFor="let option of sortOptions" (click)="selectOptionDown(option, $event)"
                  [class.selected]="option.value === selectedSortOption.value">
                  {{ option.label }}
                </li>
              </ul>
            </div>


          </div>

        </div>

        <!-- Company Grid -->
        <div class="grid" routerLink="/main/common//companyDetails">
          <div class="card" *ngFor="let company of companies">
            <div class="star" *ngIf="company.isFeatured">
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="starLogo" *ngIf="company.isFeatured"></div>

            <div class="card-body">
              <img [src]="company.imageUrl" class="card-img-top" alt="{{ company.name }} Logo">
              <!-- Company Details -->
              <h5 class="company-name">{{ company.name }}</h5>
              <p class="company-location">{{ company.location }}</p>
            </div>

            <!-- Card Footer -->
            <div class="card-footer">
              <a href="" class="vacancy">{{ company.vacancies }} Vacancy</a>
              <a href="">Save</a>
            </div>
          </div>
        </div>

        <!-- pagination Section -->
        <div class="pagination-container">
          <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item disabled"><span class="dots">...</span></li>
            <li class="page-item"><a class="page-link" href="#">Last</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="pagination-info">
            Showing 1 to 20 of 7,096
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>