ol,
ul {
  padding-left: 0px;
}

a {
  text-decoration: none;
}

.mainSection {
  display: flex;

}

.right {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  // scrollbar-width: none;
  background: rgb(240, 245, 243);
  border-radius: 50px 0px 0px 50px;
  padding: 100px 30px 50px;

}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard .main-title {
  font-size: 36px;
  font-weight: 600;
  color: #080808;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .right {
    padding: 104px 21px 50px;
    border-radius: 50px 0px 0px 0px;
  }
}

// Job Alerts==============================================

.resume-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.job-alert-container {
  display: flex;
  justify-content: space-between;
}

.sort-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

label {
  margin-right: 8px;
}

.custom-dropdown {
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 12px;
  width: 130px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.custom-dropdown i {
  transition: transform 0.3s ease;
}


.rotate {
  transform: rotate(180deg);
}


.custom-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}


.custom-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-dropdown .selected {
  background-color: #FFA500;
  color: #fff;
}


// table======================================


.job-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.job-table th,
.job-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.job-table td {
  padding: 25px 15px;
}

tbody tr:last-child td {
  border: none;
}

.job-table th {
  border: 0;
  padding: 12px 15px;
  font-size: 15px;
  font-weight: 500;
  color: #244034;
  background: #f0f5f3;
}

.job-table th:first-child {
  border-radius: 7px 0 0 7px;
}

.job-table th:last-child {
  border-radius: 0 7px 7px 0;
  text-align: right;
}

.alert-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.alert-tag.fulltime {
  color: #0fe59b;
}

.alert-tag.part-time {
  color: var(--text-color);
}

.alert-details {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  float: right;
}

.action-button:hover {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--bg-color);
  color: #fff;
  border-color: var(--bg-color);
}

@media (max-width: 768px)  {
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}



.profileDropdown {
  position: relative;
  cursor: pointer;
  margin: 0px 20px;
}

.notification-dropdown {
  position: absolute;
  right: 8px;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 14px;
  z-index: 10;
}

.notification-dropdown.hidden {
  display: none;
}

.notification-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.notification-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 6px 16px;
}

.notification-item:hover {
  background-color: #f0f5f3;

}

.notification-item:hover a {
  color: var(--text-color);
}

.notification-item a {
  flex-grow: 1;
}

.notification-item a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}









