<div class="container-fluid">
    <nav class="category-menu d-none d-lg-block">
        <ul class="style-none nav-item d-flex align-items-center justify-content-between gap-2">
            <li><a href="#">Design &amp; Creative</a></li>
            <li><a href="#">It &amp; Development</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Web &amp; Mobile Dev</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Sales &amp; Marketing</a></li>
            <li><a href="#">Music &amp; Audio</a></li>
            <li><a href="#">Video &amp; Animation</a></li>
            <div class="dropdown1">
                <input type="checkbox" id="more-toggle" class="dropdown1-toggle">
                <label for="more-toggle" class="dropdown1-label">
                    More
                    <span class="dropdown1-icon"><i class="fa-solid fa-angle-down"></i></span>
                </label>
                <div class="dropdown1-menu">
                    <a href="#" class="dropdown1-item">AI Services</a>
                    <a href="#" class="dropdown1-item">Photography</a>
                    <a href="#" class="dropdown1-item">Programming & Tech</a>
                </div>
            </div>
        </ul>
    </nav>
</div>
