<div class="container">

    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6">
            <div class="title-one">
                <h2 class="text-dark">New job listing</h2>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="d-flex justify-content-lg-end">
                <a href="#" class="all-categories">
                    Explore all jobs
                    <i class="fas fa-arrow-right"></i>
                  </a>
            </div>
        </div>
    </div>

    <div class="job-listing-wrapperborder-wrapper mt-80 lg-mt-40 wow fadeInUp"
        style="visibility: visible; animation-name: fadeInUp; animation-fill-mode: both; animation-duration: 1s; animation-delay: 0s;">

        <div class="job-list-one position-relative bottom-border">
            <div class="row justify-content-between align-items-center g-2">
                <div class="col-xxl-3 col-lg-4">
                    <div class="job-title d-flex align-items-center"><a href="#" class="logo"><img
                                src="./assets/images/media_22.png" alt="" class="lazy-img m-auto"></a> <a href="#"
                            class="title fw-500 tran3s">Developer &amp; expert in java c++</a></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ms-auto"><a href="#" class="job-duration fw-500">Fulltime</a>
                    <div class="job-date">18 Jul 2018 by <a href="#">slack</a></div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 ms-auto xs-mt-10">
                    <div class="job-location"><a href="#">Spain, Bercelona</a></div>
                    <div class="job-category"><a href="#">Developer,</a><a href="#">Coder</a></div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="d-flex align-items-center justify-content-md-end sm-mt-20"><a href="#"
                            class="save-btn text-center rounded-circle tran3s me-3" title="Save Job"><i
                                class="fa-regular fa-bookmark"></i></a> <a routerLink="/jobdetails"
                            class="apply-btn text-center tran3s">APPLY</a></div>
                </div>
            </div>
        </div>


        <div class="job-list-one position-relative bottom-border">
            <div class="row justify-content-between align-items-center g-2">
                <div class="col-xxl-3 col-lg-4">
                    <div class="job-title d-flex align-items-center"><a href="#" class="logo"><img
                                src="./assets/images/media_23.png"></a> <a href="#"
                            class="title fw-500 tran3s">Animator &amp; Expert in maya 3D</a></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ms-auto"><a href="#"
                        class="job-duration fw-500 part-time">Part time</a>
                    <div class="job-date">18 Jul 2018 by <a href="#">google</a></div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 ms-auto xs-mt-10">
                    <div class="job-location"><a href="#">USA,New York</a></div>
                    <div class="job-category"><a href="#">Finance,</a> <a
                            href="#">Accounting</a></div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="   d-flex align-items-center justify-content-md-end sm-mt-20"><a
                            href="#" class="save-btn text-center rounded-circle tran3s me-3"
                            title="Save Job">  <i class="fa-regular fa-bookmark"></i></a> <a routerLink="/jobdetails"
                            class="apply-btn text-center tran3s">APPLY</a></div>
                </div>
            </div>
        </div>


        <div class="job-list-one position-relative bottom-border">
            <div class="row justify-content-between align-items-center g-2">
                <div class="col-xxl-3 col-lg-4">
                    <div class="job-title d-flex align-items-center"><a href="#" class="logo"><img
                                src="./assets/images/media_24.png" data-src="/assets/images/logo/media_24.png"
                                alt="" class="lazy-img m-auto"></a> <a href="#"
                            class="title fw-500 tran3s">Marketing Specialist in SEO &amp; SMM</a></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ms-auto"><a href="#"
                        class="job-duration fw-500 part-time">Part time</a>
                    <div class="job-date">18 Jul 2018 by <a href="#">pinterest</a></div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 ms-auto xs-mt-10">
                    <div class="job-location"><a href="#">USA,Alaska</a></div>
                    <div class="job-category"><a href="#">Design,</a> <a href="#">Artist</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="   d-flex align-items-center justify-content-md-end sm-mt-20"><a
                            href="#" class="save-btn text-center rounded-circle tran3s me-3"
                            title="Save Job">  <i class="fa-regular fa-bookmark"></i></a> <a routerLink="/jobdetails"
                            class="apply-btn text-center tran3s">APPLY</a></div>
                </div>
            </div>
        </div>

        <div class="job-list-one position-relative bottom-border">
            <div class="row justify-content-between align-items-center g-2">
                <div class="col-xxl-3 col-lg-4">
                    <div class="job-title d-flex align-items-center"><a href="#" class="logo"><img
                                src="./assets/images/media_25.png" data-src="/assets/images/logo/media_25.png"
                                alt="" class="lazy-img m-auto"></a> <a href="#"
                            class="title fw-500 tran3s">Developer &amp; Expert in java c++.</a></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ms-auto"><a href="#"
                        class="job-duration fw-500">Fulltime</a>
                    <div class="job-date">18 Jul 2018 by <a href="#">instagram</a></div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 ms-auto xs-mt-10">
                    <div class="job-location"><a href="#">USA,California</a></div>
                    <div class="job-category"><a href="#">Application,</a> <a
                            href="#">Dev</a></div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="   d-flex align-items-center justify-content-md-end sm-mt-20"><a
                            href="#" class="save-btn text-center rounded-circle tran3s me-3"
                            title="Save Job">  <i class="fa-regular fa-bookmark"></i></a> <a routerLink="/jobdetails"
                            class="apply-btn text-center tran3s">APPLY</a></div>
                </div>
            </div>
        </div>

        <div class="job-list-one position-relative bottom-border">
            <div class="row justify-content-between align-items-center g-2">
                <div class="col-xxl-3 col-lg-4">
                    <div class="job-title d-flex align-items-center"><a href="#" class="logo"><img
                                src="./assets/images/media_26.png" data-src="/assets/images/logo/media_26.png"
                                alt="" class="lazy-img m-auto"></a> <a href="#"
                            class="title fw-500 tran3s">Lead &amp; Product Desginer.</a></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ms-auto"><a href="#"
                        class="job-duration fw-500">Fulltime</a>
                    <div class="job-date">18 Jul 2018 by <a href="#">linkedin</a></div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 ms-auto xs-mt-10">
                    <div class="job-location"><a href="#">UK,London</a></div>
                    <div class="job-category"><a href="#">Finance,</a> <a
                            href="#">Business</a></div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="   d-flex align-items-center justify-content-md-end sm-mt-20"><a
                            href="#" class="save-btn text-center rounded-circle tran3s me-3"
                            title="Save Job">  <i class="fa-regular fa-bookmark"></i></a> <a routerLink="/jobdetails"
                            class="apply-btn text-center tran3s">APPLY</a></div>
                </div>
            </div>
        </div>



    </div>
</div>
