<div class="container">
    <div class="title">
        <span class="line"></span>
        <h1>How it's Work?</h1>
        <span class="line"></span>
    </div>
    <div class="border-bottom">
    <div class="steps-container">
        <div class="step">
            <div class="step-number">01</div>
            <h2 class="step-title">Create Account</h2>
            <p class="step-description">It's very easy to open an account and start your journey.</p>
        </div>

        <div class="step">
            <div class="step-number">02</div>
            <h2 class="step-title">Complete your profile.</h2>
            <p class="step-description">Complete your profile with all the info to get attention of client.</p>
        </div>

        <div class="step">
            <div class="step-number">03</div>
            <h2 class="step-title">Apply job or hire.</h2>
            <p class="step-description">Apply & get your preferable jobs with all the requirements and get it.</p>
        </div>
    </div>
</div>
</div>



