<app-header></app-header>
<div class="container">
    <div class="headings">
        <h1>Blog</h1>
        <p>Read our blog from top talents</p>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="blog-details">
                <div class="blog-pubish-date">Digital Marketing . 2 July . By <a href="" >Rashed Ka</a>
                </div>
                <h1 class="blog-heading">Designer’s checklist for every UX/UI Project.</h1>
        
                <!-- Use main image for the blog detail page -->
                <img src="assets/images/blog_img_32.jpg" alt="Blog main image">
                 <p>Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly hanky panky, cack bonnet arse over tit burke bugger all mate bodge. cillum dolore eu fugiat pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Suspendisse interdum consectetur libero id faucibu nisl. Lacus vel facilisis volutpat est velit egestas.</p>
                 
                 <p>Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Sit amet ris nullam eget felis. Enim praesent elementum facilisis leo. Ultricies leo integer.</p>
                    <img  src="assets/images/blog_img_33.jpg" alt="Blog content image">
        
                    
                    <h5>This response is important for our ability to from mistakes but it also gives rise to self-criticism imperdiet nulla malesu elit.</h5>
                    <p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future The same is true as we experienc the emotional of stress from our instances. We are quickly learn to fear and thus automatically. Lorem ipsum dolor sit amet.</p>
                   
                
                
            </div>
           

            <div class="quote-container">
                <blockquote class="quote">
                  <span class="quote-line">"Everything is designed.</span>
                  <span class="quote-line">Few things are designed well."</span>
                </blockquote>
                <div class="author">
                  Brian Reed, <span class="title">front-end developer</span>
                </div>
              </div>

              <article class="article">
                <h1 class="article-title">Work Harder & Gain Success</h1>
                
                <div class="article-content">
                  <p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in quis elit future. The same Duis aute irure dolor in reprehenderit.</p>
                  <p>is true as we experience the emotional sensation of stress from our firs social rejec ridicule. We quickly learn to fear and thus automatically. potentially stressful situation of wlir ext quiert all kinds, including the most common of all.</p>
                </div>
            
                <div class="article-meta">
                  <div class="tags">
                    <span class="tag-label">Tag:</span>
                    <a href="#" class="tag">business</a>
                    <a href="#" class="tag">makreting</a>
                    <a href="#" class="tag">tips</a>
                  </div>
            
                  <div class="share">
                    <span class="share-label">Share:</span>
                    <div class="share-button">
                        <i class="fa-brands fa-google"></i>
                    </div>
                    <div class="share-button">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="share-button">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                  </div>
                </div>
              </article>

              <div class="comments-section">
                <h2 class="comments-title">2 Comments</h2>
                
                <div class="comment">
                  <div class="avatar">
                    <img src="assets/images/avatar_01.jpg" alt="Al Hasani"/>
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                        <div class="nameDate">
                            <span class="comment-author">Al Hasani</span>
                           <span class="comment-date">13 June, 2022, 7:30pm</span>
                           <p class="comment-text">One touch of a red-hot stove is usually all we need to avoid that kind of lorem discomfort in future. The same true we experience</p>
                        </div>
                        <button class="reply-button">REPLY</button>
                      
                    </div>
                    
                    
                  </div>
                </div>
            
                <div class="comment">
                  <div class="avatar">
                    <img src="assets/images/avatar_02.jpg" alt="Rashed ka."/>
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                        <div class="nameDate">
                            <span class="comment-author">Rashed ka.</span>
                            <span class="comment-date">13 June, 2022, 7:30pm</span>
                            <p class="comment-text">One touch of a red-hot stove is usually all we need to avoid that kind of lorem discomfort in future. The same true we experience</p>
                        </div>
                        <button class="reply-button">REPLY</button>
                     
                    </div>
                   
                  
                  </div>
                </div>
              </div>

              <div class="comment-form-container">
                <h2 class="form-title">Leave A Comment</h2>
                <p class="form-subtitle">
                  <a href="#">Sign in</a> to post your comment or signup if you don't have any account.
                </p>
                
                <form>
                  <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input 
                      type="text" 
                      id="name" 
                      class="form-input" 
                      value="Rashed Kabir"
                    >
                  </div>
            
                  <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input 
                      type="email" 
                      id="email" 
                      class="form-input" 
                      value="rshdkabir@gmail.com"
                    >
                  </div>
            
                  <div class="form-group">
                    <label class="form-label" for="comment">Your Comment</label>
                    <textarea 
                      id="comment" 
                      class="form-input"
                    ></textarea>
                  </div>
            
                  <button type="submit" class="submit-button">Post Comment</button>
                </form>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="right">
                <div class="searchBox">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="category">
                    <h2>Category</h2>
                    <p>Education <span>(3)</span></p>
                    <p>Information <span>(4)</span></p>
                    <p>Interview <span>(2)</span></p>
                    <p>Speaking <span>(8)</span></p>
                    <p>Skill <span>(5)</span></p>
                    <p>Developer <span>(3)</span></p>
                    <p>Account <span>(7)</span></p>
                </div>
                <div class="recent">
                    <h2>Recent News</h2>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_15.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_16.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                    <div class="recentBox">
                        <img src="./assets/images/blog_img_17.jpg" alt="">
                        <div class="desc">
                            <p>10 days quick challange forboost visitors.</p>
                            <p>23 July, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="keyword">
                    <h2>Keywords</h2>
                    <ul class="style-none d-flex flex-wrap">
                        <li><a href="#!">Ideas</a></li>
                        <li><a href="#!">Education</a></li>
                        <li><a href="#!">Design</a></li>
                        <li><a href="#!">Development</a></li>
                        <li><a href="#!">Branding</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>